#fwfind_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}

#fwfind_box > h1 {
  font-size: 30px;
  font-weight: 500;
}

#fwfind_box > form {
  margin-top: 50px;
}

#fwfind_box > form > div {
  position: relative;
  height: 52px;
}

#fwfind_box > form > div + div {
  margin-top: 10px;
}

#fwfind_box > form > div > input {
  width: 264px;
  height: 37px;
  border: 1px solid #444444;
  border-radius: 4.1px;
  font-size: 15px;
  text-align: center;
  font-weight: 300;
}

#fwfind_box > form > div > p {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 2px;
  font-size: 10px;
  color: #979797;
  text-align: center;
}

#fwfind_box > form > a > button {
  margin-top: 50px;
  width: 264px;
  height: 37px;
  border-radius: 4.1px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  border: solid 0.2px #000000;
  background-color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  border: solid 1px #ddd;
}

#fwfind_box > form > div > div {
  margin-top: 2px;
  display: none;
  align-items: center;
  justify-content: center;
}

#fwfind_box > form > div > div > p {
  margin-left: 5px;
  font-size: 10px;
  color: #eb605c;
}


/* 팝업 */
#fwfind_popup_bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000000;
}
.fwfind_popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fwfind_popup > div {
  padding: 50px;
  width: 300px;
  height: 268px;
  object-fit: contain;
  border-radius: 4.5px;
  background-color: #ffffff;
}

.fwfind_popup > div > h1 {
  object-fit: contain;
  font-size: 15px;
  font-weight: bold;
  color: #32346e;
}

.fwfind_popup > div > p {
  margin-top: 15px;
  width: 200px;
  font-size: 12px;
  line-height: 1.88;
  color: #6f6f6f;
}

.fwfind_popup > div > div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.fwfind_popup > div > div > a > button {
  margin-top: 50px;
  border: none;
  outline: none;
  width: 40px;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  border-bottom:1px solid black;
  color: black;
  background-color: white;
}
