#calculate_contents_box_template {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: calc(100% - 45px);
}

#calculate_userlist {
  padding-top: 10px;
  width: 20%;
  min-width: 200px;
  height: 100%;
  background-color: white;
  border-right: 1px solid #dddddd;
  overflow-y: auto;
}

#calculate_userlist::-webkit-scrollbar {width: 4px; height: 8px; border: 3px solid #fff; }
#calculate_userlist::-webkit-scrollbar-track {background: #efefef; }
#calculate_userlist::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: #32346e }


.calculate_user_profile {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.calculate_user_profile > div:nth-child(1) {
  margin-left: 30px;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 10px;
}

.calculate_user_profile > div:nth-child(1) > img {
  width: 100%;
}


.calculate_user_profile > div:nth-child(2) {
  margin-left: 12px;
}


.calculate_user_profile > div:nth-child(2) > h1 {
  font-size: 13px;
}

.calculate_user_profile > div:nth-child(2) > p {
  margin-top: 5px;
  font-size: 10px;
  color: #444;
}

/* 정산파일리스트 */
#calculate_file_box {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: white;
}

#file_none {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#file_none > p {
  margin-top: 10px;
  font-size: 12px;
}

#calculate_file {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

#calculate_back {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  height: 45px;
  padding: 0 20px;
}

#calculate_back > img {
  cursor: pointer;
}

#calculate_back > p {
  margin-left: 12px;
  font-size: 13px;
  font-weight: bold;
}

#calculate_list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 45px);
  background-color: #f6f8fa;
  overflow-y: auto;
}

#calculate_list::-webkit-scrollbar {width: 4px; height: 8px; border: 3px solid #fff; }
#calculate_list::-webkit-scrollbar-track {background: #efefef; }
#calculate_list::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: #32346e }


#calculate_list > div {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  padding-bottom: 60px;
  width: 100%;
}


#calculate_list_input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#calculate_list_input > input:nth-child(1) {
  width: 213px;
  height: 30px;
  border-radius: 3px;
  border: solid 1px #ddd;
  background-color: #ffffff;
  padding: 0 20px;
}

#calculate_list_input > input:nth-child(3) {
  display: none;
}

#calculate_list_input > label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  width: 68px;
  height: 30px;
  border-radius: 4px;
  background-color: #000000;
  cursor: pointer;
  color: white;
  font-size: 10px;
}

#calculate_list_input > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background-color: #000000;
  cursor: pointer;
  color: white;
  font-size: 10px;
}

#calculate_list_tabel {
  margin-top: 20px;
  width: 100%;
  height: auto;
  border:1px solid #dddddd;
  background-color: white;
  overflow-x: auto;
}

#calculate_list_tabel::-webkit-scrollbar {width: 4px; height: 8px; border: 3px solid #fff; }
#calculate_list_tabel::-webkit-scrollbar-track {background: #efefef; }
#calculate_list_tabel::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: #32346e }


#calculate_list_header  {
  width: 100%;
  min-width: calc(100px * 9);
}

#calculate_list_header > ul {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: black;
}

#calculate_list_header > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%/9);
  min-width: 100px;
  height: 30px;
  list-style: none;
  color: white;
  font-size: 11px;
  font-weight: 300;
}

#calculate_list_body {
  width: 100%;
  min-width: calc(100px * 9);
}

#calculate_list_body > ul {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: white;
  border-bottom:1px solid #dddddd;
}

#calculate_list_body > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%/9);
  min-width: 100px;
  height: 60px;
  list-style: none;
  color: black;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
}

#file_list_btn {
  margin-top: 20px;
  margin-left: auto;
}

#file_list_btn > button {
  width: 80px;
  height: 30px;
  object-fit: contain;
  border-radius: 4px;
  background-color: #000000;
  color: white;
  border: solid 1px #ddd;
}

#calculate_saved {
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #00aded;
}

#calculate_saved > p {
  margin-left: 20px;
  font-size: 13px;
  color: white;
}

.calculate_user_profile_backcolor {
  background-color: #f8f8f8;
}

#platform_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 100px;
}

#platform_list > img {
  cursor: pointer;
}


#platform_list > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  overflow: hidden;
}

#platform_list > div > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#platform_list > div > div > p {
  width: 114px;
  flex: 0 0 114px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  color: #888888;
}

.platform_list_choice{
  color: black !important;
  font-weight: bold;
}

#calculate_file_none {
  width: 100%;
  height: calc(100% - 46px);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f8fa;
}

#calculate_file_none > p {
  margin-top: 10px;
  font-size: 12px;
}

/* 매출박스 */
#sales_contents_page {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

#sales_contents_date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid #ddd;
  width: 100%;
  height: 46px;
  background-color: white;
}

#sales_contents_date > div {
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#sales_contents_date > div > p {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}

#sales_contents_date > div > img {
  cursor: pointer;
}


#sales_contents_date > div > img + img {
  margin-left: 20px;
}

#sales_contents_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f6f8fa;
  width: 100%;
  height: calc(100% - 46px);
  overflow-y: auto;
}

#sales_contents_list::-webkit-scrollbar {width: 4px; height: 8px; border: 3px solid #fff; }
#sales_contents_list::-webkit-scrollbar-track {background: #efefef; }
#sales_contents_list::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: #32346e }

#sales_contents_list > div {
  width: 100%;
  text-align: center;
}

#sales_contents_list > div >div:nth-child(1) {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

#sales_contents_list > div > div:nth-child(1) > div {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 22%;
  height: 180px;
  background-color: white;
  padding: 30px;
}

#sales_contents_list > div > div:nth-child(1) > div + div {
  margin-left: 3%;
}

#sales_contents_list > div > div:nth-child(1) > div > h1 {
  margin-right: auto;
  font-size: 14px;
  font-weight: 400;
}

#sales_contents_list > div > div:nth-child(1) > div > p {
  font-size: 26px;
  font-weight: bold;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

#sales_contents_list_table {
  display: inline-block;
  width: 70%;
  margin-top: 60px;
  margin-bottom: 180px;
}

#sales_contents_list_table > div:nth-child(1) {
  float: right;
  display: flex;
}

#sales_contents_list_table > div:nth-child(1) > p {
  font-size: 13px;
  color: #888;
  cursor: pointer;
}

#sales_contents_list_table > div:nth-child(1) > p + p {
  margin-left: 10px;
}

#sales_contents_list_table > div:nth-child(1) > p:nth-child(2) {
  color: black;
  cursor: none;
}

.sales_contents_list_table_choice {
  color: black !important;
}

.sales_contents_list_table_header  {
  margin-top: 30px;
  width: 100%;
  min-width: calc(100px * 5);
}

.sales_contents_list_table_header > ul {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: black;
}

.sales_contents_list_table_header > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%/5);
  min-width: 100px;
  height: 30px;
  list-style: none;
  color: white;
  font-size: 11px;
  font-weight: 300;
}

.sales_contents_list_table_body {
  width: 100%;
  min-width: calc(100px * 5);
}

.sales_contents_list_table_body > ul {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: white;
  border-bottom:1px solid #dddddd;
}

.sales_contents_list_table_body > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%/5);
  min-width: 100px;
  height: 40px;
  list-style: none;
  color: black;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
}

#sales_contents_list_table_writer {
  display: none;
}


#popup_bg {
  z-index: 100;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000000;
}
#payment_popup {
  z-index: 200;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#payment_popup > div {
  padding: 40px;
  width: 340px;
  height: 300px;
  object-fit: contain;
  border-radius: 4.5px;
  background-color: #ffffff;
}

#payment_popup > div > h1 {
  object-fit: contain;
  font-size: 13px;
  font-weight: bold;
  color: #32346e;
}

#payment_popup > div > p {
  margin-top: 15px;
  width: 200px;
  font-size: 12px;
  line-height: 1.88;
  color: #6f6f6f;
}

#payment_popup > div > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#payment_popup > div > div:last-child {
  display: flex;
  flex-direction: row;
}

#payment_popup > div > div > div {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#payment_popup > div > div > div:last-child{
  margin-top: 15px;
}

#payment_popup > div > div > div > p {
  flex: 0 0 60px;
  font-size: 10px;
  color: #6f6f6f;
}

#payment_popup > div > div > div > input {
  flex: 0 0 200px;
  padding: 0 10px;
  width: 170px;
  height: 30px;
  border-radius: 3px;
  border: solid 1px #888;
  background-color: #ffffff;
}

#payment_popup > div > div > a > button {
  margin-top: 50px;
  border: none;
  outline: none;
  width: 40px;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  color: #888888;
  background-color: white;
}

#payment_popup > div > div > a:last-child > button {
  color: black;
}

#payment_popup > div > div > a:first-child{
  margin-left: auto ;
}

#payment_popup > div > div > a {
  margin-left: 10px;
}





#paymentContent {
  margin-top: 20px;
  width: 100%;
  height: auto;
  border:1px solid #dddddd;
  background-color: white;
}

#paymentContent_header  {
  width: 100%;
}

#paymentContent_header > ul {
  display: flex;
  height: 30px;
  width: 100%;
  background-color: black;
}

#paymentContent_header > ul > li {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  list-style: none;
  color: white;
  font-size: 11px;
  font-weight: 300;
}

#paymentContent_body {
  width: 100%;
}

#paymentContent_body > ul {
  display: flex;
  height: 60px;
  width: 100%;
  background-color: white;
  border-bottom:1px solid #dddddd;
}

#paymentContent_body > ul > li {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 60px;
  list-style: none;
  color: black;
  font-size: 10px;
  font-weight: 300;
  text-align: center;
}

#data_upload_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

#data_upload_button > button {
  cursor: pointer;
  width: calc(100% - 40px);
  height: 28px;
  border-radius: 5px;
  background-color: #32346e;
  color: white;
}

#data_upload_file {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

#calculate_save_button {
  width: 68px !important;
}









