#notice_box {
  width: 100%;
  height: 100%;
}

#notice_box > ul {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 45px;
  z-index: 10;
}

#notice_box > ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 40px;
  list-style: none;
  background-color: white;
  border:1px solid #eee;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

#notice_box > ul > li:nth-child(1) {
  border-left: none;
}

#notice_box > ul > li > p {
  font-size: 13px;
}

#notice_box > ul > li:nth-child(2) > p {
  color: #888;
}

.notice_tab_choice{
  height: 45px !important;
}

.notice_tab_choice::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 158px;
  height: 46px;
  list-style: none;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px -2px 2px rgba(0, 0, 0, 0.15);
  z-index: 20;
}

.notice_contents_box_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 관리자 공지사항 */
#admin_notice_contents_box{
  position: relative;
  width: 100%;
  height: calc(100% - 45px);
  box-shadow: 1px -2px 1px rgba(0, 0, 0, 0.15);
}

.notice_add_btn {
  position: relative;
  z-index: 20;
  margin-bottom: 30px;
}

.notice_add_btn > a > button {
  margin-top: 30px;
  margin-left: 15px;
  width: 140px;
  height: 28px;
  background: #32346e;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  border: solid 1px #ddd;
}

.notice_contents {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-bottom: 140px;
}

.notice_contents::-webkit-scrollbar {width: 4px; height: 8px; border: 3px solid #fff; }
.notice_contents::-webkit-scrollbar-track {background: #efefef; }
.notice_contents::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: #32346e }


.notice_contents > div:nth-child(2) {
  border-top: 1px solid #ccc;
}

.notice_item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 50px 20px 35px;
  overflow: hidden;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.notice_item > h1 {
  font-size: 14px;
  line-height: 20px;
}

.notice_item > p:nth-child(2) {
  margin-top: 5px;
  font-size: 10px;
  color: #888;
}
.notice_item > p:nth-child(3) {
  margin-top: 30px;
  font-size: 12px;
  line-height: 18px;
}
.notice_item > div:nth-child(4) {
  margin-top: 30px;
  display: flex;
  margin-left: auto;
 }
.notice_item > div:nth-child(4) > button {
  width: 100px;
  height: 28px;
  background-color: white;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  border-radius: 28px;
  font-size: 12px;
  border: solid 1px #ddd;
 }
.notice_item > div:nth-child(4) > button + button {
  margin-left: 10px;
}
.notice_item > div:nth-child(4) > button:hover {
  background-color: #32346e;
  color: white;
}

.notice_item > div:nth-child(5) {
  position: absolute;
  top: 20px;
  right: 50px;
}

/* 하단 팝업 */
.notice_true {
  display: flex;
  align-items: center;
  padding: 0 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  z-index: 20;
  background-color: #00aded;
}

.notice_true > p {
  margin-left: 20px;
  font-size: 13px;
  color: white;
}

.notice_false {
  display: none;
  align-items: center;
  padding: 0 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  z-index: 20;
  background-color: #eb605c;
}

.notice_false > p {
  margin-left: 20px;
  font-size: 13px;
  color: white;
}

.notice_false > img {
  height: 14px;
}







/* 일반 공지사항 */
#normal_notice_contents_box{
  display: none;
  position: relative;
  width: 100%;
  height: calc(100% - 45px);
  box-shadow: 1px -2px 1px rgba(0, 0, 0, 0.15);
}