#notice_add_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 50px;
}

#notice_add_box > #notice_title_box > h1 {
  font-size: 14px;
  font-weight: bold;
}

#notice_title_box {
  position: relative;
  margin-top: 30px;
  width: 608px;
  display: flex;
  flex-direction: row;
}

#notice_title_box > #notice_userchoice_button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 10px 0 20px;
  align-items: center;
  margin-left: auto;
  width: 120px;
  height: 28px;
  border: 1px solid #888;
  cursor: pointer;
}

#notice_userchoice_button > #notice_userchoice_tri {
  margin-left: auto;
  border-top:6px solid black;
  border-bottom:6px solid none;
  border-right: 4px solid transparent;
  border-left: 4px solid  transparent;
}

#notice_userchoice_menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 32px;
  right: 0;
  width: 120px;
  height: auto;
  padding: 5px 0;
  border: 1px solid #888;
  background-color: white;
}

#notice_userchoice_menu > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 24px;
}

#notice_add_box > form {
  margin-top: 30px;
}

#notice_add_box > form > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#notice_add_box p {
  font-size: 12px;
  font-weight: bold;

}
#notice_add_box label {
  margin-left: 5px;
  position: relative;
  width: 12px;
  height: 12px;
  border: solid 1px #000000;
}

#notice_add_box label > img {
  display: none;
  position: absolute;
  top: -3px;
  left: -3px;
  width: 16px;
}

#admin_checkbox:checked + label > img {
  display: block;
}
#all_checkbox:checked + label > img {
  display: block;
}

#notice_add_title > input:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
  width: 400px;
  height: 36px;
  border-radius: 10px;
  border: solid 1px #ccc;
  background-color: #f6f8fa;
  padding: 0px 10px;
  font-size: 12px;
}

#notice_add_title > input:nth-child(4), input:nth-child(7) {
  display: none;
}

#notice_add_title > p:nth-child(6) {
  margin-left: 10px;
}


#notice_add_date {
  margin-top: 15px;
}

#notice_add_date > div {
  padding: 0 10px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 252px;
  height: 32px;
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #f6f8fa;
}

#notice_add_date > img {
  margin-left: 10px;
}


#notice_add_date > div > p {
  color: #eb605c;
  font-size: 13px;
  font-weight: normal;
}


#notice_add_date > div > input {
  margin-left: 10px;
  background-color: #f6f8fa;
  box-shadow: none;
  border: none;
}

#notice_textarea {
  margin-top: 15px;
}

#notice_textarea > textarea {
  width: 605px;
  height: 154px;
  border-radius: 10px;
  border: solid 1px #ccc;
  background-color: #ffffff;
  padding: 20px;
  resize: none;
  outline: none;
}

#notice_add_box > form > button {
  margin-top: 20px;
  float: right;
  width: 134px;
  height: 26px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  background-color: #32346e;
  border: none;
  color: white;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
  border: solid 1px #ddd;
}

/* 팝업 */
#notice_popup_bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000000;
  z-index: 200;
}
.notice_popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 300;
}

.notice_popup > .notice_popup_box {
  padding: 50px;
  width: 300px;
  height: 268px;
  object-fit: contain;
  border-radius: 4.5px;
  background-color: #ffffff;
}

.notice_popup > .notice_popup_box > h1 {
  object-fit: contain;
  font-size: 15px;
  font-weight: bold;
  color: #32346e;
}

.notice_popup > .notice_popup_box > p {
  margin-top: 15px;
  width: 200px;
  font-size: 12px;
  line-height: 1.88;
  color: #6f6f6f;
}

.notice_popup > .notice_popup_box > div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.notice_popup > .notice_popup_box > div > a > button {
  margin-top: 50px;
  border: none;
  outline: none;
  width: 40px;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
  color: #888888;
  font-size: 10px;
  background-color: white;
}

#notice_add_cancel > .notice_popup_box > div > a:first-child > button {
  border-bottom:1px solid black;
  color: black;
  margin-right: 10px;
}

#notice_add_cancel > .notice_popup_box > div > a:last-child > button:hover {
  border-bottom:1px solid black;
  color: black;
}


#notice_add_ok > .notice_popup_box > div > a:last-child > button {
  border-bottom:1px solid black;
  color: black;
}

#notice_add_ok > .notice_popup_box > div > a:first-child > button {
  margin-right: 10px;
}

#notice_add_ok > .notice_popup_box > div > a:first-child > button:hover {
  border-bottom:1px solid black;
  color: black;
  
}

#notice_add_back {
  cursor: pointer;
}




