#calender_box {
  display: flex;
  height: 100%;
  width: 100%;
}

#calender_section {
  width: 75%;
  height: 100%;
  overflow-y: scroll;
}

#calender_section::-webkit-scrollbar {width: 4px; height: 8px; border: 3px solid #fff; }
#calender_section::-webkit-scrollbar-track {background: #efefef; }
#calender_section::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); }


.clickday {
  color: white;
  border-radius: 16px;
  background-color: #575757;
}

#profile_popup {
  position: absolute;
  top: 40px;
  right: 30px;
  width: 230px;
  height: 168px;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  box-shadow: -1px 1px 5px -1px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  z-index: 100;
}

#profile_popup > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}
#profile_popup > div:nth-child(1) > img {
  margin-left: auto;
  margin-right: 10px;
  width: 10px;
  cursor: pointer;
}

#profile_popup > div:nth-child(2) {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}

#profile_popup > div:nth-child(2) > div:nth-child(1) {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  overflow: hidden;
}

#profile_popup > div:nth-child(2) > div:nth-child(1) > img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
}

#profile_popup > div:nth-child(2) > div:nth-child(2) {
  padding-top: 10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

#profile_popup > div:nth-child(2) > div:nth-child(2) > input {
  display: none;
}

#profile_popup > div:nth-child(2) > div:nth-child(2) > label {
  cursor: pointer;
}

#profile_popup > div:nth-child(2) > div:nth-child(2) > button {
  margin-top: 5px;
  width: 42px;
  height: 15px;
  background-color: #e7e8f2;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

#profile_popup > div:nth-child(3) > button {
  margin-top: 50px;
  width: 142px;
  height: 18px;
  border-radius: 3.5px;
  background-color: #32346e;
  color: white;
  cursor: pointer;
}


/* 일정 추가 팝업 취소 팝업 */

#calender_close_popup_bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000000;
  z-index: 200;
}
#calender_close_popup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 300;
}

#calender_close_popup > #calender_close_popup_false {
  padding: 50px;
  width: 300px;
  height: 268px;
  object-fit: contain;
  border-radius: 4.5px;
  background-color: #ffffff;
}

#calender_close_popup > #calender_close_popup_false > h1 {
  object-fit: contain;
  font-size: 15px;
  font-weight: bold;
  color: #32346e;
}

#calender_close_popup > #calender_close_popup_false > p {
  margin-top: 15px;
  width: 200px;
  font-size: 12px;
  line-height: 1.88;
  color: #6f6f6f;
}

#calender_close_popup > #calender_close_popup_false > div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#calender_close_popup > #calender_close_popup_false > div > a > button {
  margin-top: 50px;
  border: none;
  outline: none;
  width: 40px;
  height: 28px;
  cursor: pointer;
  font-weight: bold;
  color: #888888;
  font-size: 10px;
  background-color: white;
}

#calender_close_popup > #calender_close_popup_false > div > a:first-child > button {
  border-bottom:1px solid black;
  color: black;
  margin-right: 10px;
}

#calender_close_popup > #calender_close_popup_false > div > a:last-child > button:hover {
  border-bottom:1px solid black;
  color: black;
}
